<!DOCTYPE html>
<html>
<head>
    <title>Canvas Web App</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Canvas Web App</h1>
    <canvas id="canvas" width="400" height="400" style="border: 1px solid black;"></canvas>
    <br>
    <button onclick="clearCanvas()">Clear</button>

    <!-- <button onclick="loadModel()">Load Model</button> -->
    <button onclick="predict()">Predict</button>
    <br>
    <h2>Prediction Result:</h2>
    <div id="result"></div>
    <h2>Prediction Probabilities</h2>
    <div id="probs"></div>
    <script>
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');
        var isDrawing = false;

        canvas.addEventListener('mousedown', startDrawing);
        canvas.addEventListener('mousemove', draw);
        canvas.addEventListener('mouseup', stopDrawing);

        function startDrawing(e) {
            isDrawing = true;
            draw(e);
        }

        function draw(e) {
            if (!isDrawing) return;

            // fix offset error (mouse and line drawns are off)
            const rect = canvas.getBoundingClientRect();
            const x = e.clientX - rect.left;
            const y = e.clientY - rect.top;

            ctx.lineWidth = 7;
            ctx.lineCap = 'round';
            ctx.lineTo(x, y);
            ctx.stroke();
            ctx.beginPath();
            ctx.moveTo(x, y);
        }

        function stopDrawing() {
            isDrawing = false;
            ctx.beginPath();
        }

        function clearCanvas() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
        }

        function loadModel() {
            // Code to load the TensorFlow model goes here
        }

        function predict() {
            var imageData = canvas.toDataURL('image/png');
            $.ajax({
                type: 'POST',
                url: '/predict',
                data: { 'imageData': imageData },
                success: function (response) {
                    document.getElementById('result').innerText = response['digit'];
                    document.getElementById('probs').innerText = response['probs'];
                }
            });
        }
    </script>
</body>
</html>
